NEXT_PUBLIC_SUPABASE_URL=https://zdvngqgssltnpskrucuv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpkdm5ncWdzc2x0bnBza3J1Y3V2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzc1ODg1MywiZXhwIjoyMDg5MzM0ODUzfQ.w2ikqwVUo7oKuxnViME_KVck-PihwyQuR5kQfRX7CXw
WORKOS_API_KEY=sk_test_a2V5XzAxS0tZMzROQlRKTUpGVEFFSkpHTlA1UjI3LGpPRUJhc21udlFTS1luR0pVV2RtaHF5Vno
WORKOS_CLIENT_ID=client_01KKY34N1K74568PTGY3KQP6XA
WORKOS_COOKIE_PASSWORD=gQXf2gHGrZaxQEWx1TzC6Y1NzRVW3VMxYnWwEshR84BRrhZgc076A9F4YwLwVDqL0N5RQNYDMHVLckH4zdPJGdbbUJQ4CkdCGQMf
SENSY_API_KEY=YOUR_SENSY_API_KEY
SENSY_WHATSAPP_NUMBER=YOUR_SENSY_WHATSAPP_NUMBER
NEXT_PUBLIC_APP_URL=http://localhost:3000
